.left {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left; 
    width: 60%;
    background-color: white;
    height: 100vh;
}

.right {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
    width: 40%;
    background: #135899;
    height: 100vh;
    outline: 10px solid #135899;
}

.title {
    text-align: center;
    margin: 0 0 -10px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newHere {
    text-align: center;
    margin: -75px 0 0 0;
    color: white;
}

.subtitle {
    margin-top: 25px;
    text-align: center;
}

.instructions {
    color: white;
}

.textbox {
    width: 70%;
    margin: 10px;
}
#password{
    width: 100%;

}

input[type="text"] {
    width: 100%;
    border: 2px grey solid;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    border: 1px solid #cfd8dc; 
    border-radius: 4px; 
}

input[type="password"] {
    width: 100%;
    border: 2px grey solid;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    border: 1px solid #cfd8dc; 
    border-radius: 4px; 
}



  /* Button styling */
  .btn-login, .btn-register {
    background-color: #135899;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  .btn-register {
    background-color: white;
    color:black
  }
  
  .btn-login:hover, .btn-register:hover {
    opacity: 0.8;
  }
  

  .phone {
    margin-right: 20px;
  }
  
  .email {
    margin-right: 20px;
  }

  .verification-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .verification-card {
    background-color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .row {
    margin-top: 15px;
  }
  

  .btn-verify{
    background-color: #135899;
    color : white;
  }